####
# Default job.
# This job simply defines the iOS image, some environment variables
# and stuff that all jobs should have
##
default: &defaultJob
  # Set the xcode version this virtual machine will use
  macos:
    xcode: "11.1.0"
  # We need to set this for RVM.
  shell: /bin/bash --login
# Default workflow will run on all branches except releases
default-workflow: &defaultWorkflow
  filters:
    branches:
      ignore:
        - /release\/.*$/
deploy-workflow: &deployWorkflow
  filters:
    branches:
      only:
        - /release\/.*$/

# Define the jobs we will be using
version: 2
jobs:
  test:
    <<: *defaultJob
    steps:
      - checkout
      - add_ssh_keys
      - restore_cache:
          key: gem-cache-{{ checksum "Gemfile.lock" }}-v2
      - restore_cache:
          keys: 
            - pods-cache-{{ .Branch }}-{{ checksum "Podfile" }}
            - pods-cache-{{ .Branch }}-
            - pods-cache
      - run:
          name: Install Bundler
          command: gem install bundler --user-install
      - run:
          name: Install Ruby tools
          command: bundle install --path vendor/bundle
      - run:
          name: Deactivate Cocoapods Verbose Logging
          command: ruby ./scripts/deactivate_verbose_logging.rb
      - run:
          name: Install CocoaPods
          command: bundle exec pod install
      - save_cache:
          key: gem-cache-{{ checksum "Gemfile.lock" }}-v2
          paths:
            - vendor/bundle
      - save_cache:
          key: pods-cache-{{ .Branch }}-{{ checksum "Podfile" }}
          paths:
            - Pods            
      - run:
          name: Run tests on iOS 11.4
          command: ./scripts/run_tests.sh 11.4
      - run:
          name: Run test on iOS 12.2
          command: ./scripts/run_tests.sh 12.2
      - run:
          name: Run Coverage Report
          command: ./scripts/run_coverage_report.sh
  lint:
    <<: *defaultJob
    steps:
      - checkout
      - add_ssh_keys
      - restore_cache:
          key: gem-cache-{{ checksum "Gemfile.lock" }}-v2
      - restore_cache:
          keys: 
            - pods-cache-{{ .Branch }}-{{ checksum "Podfile" }}
            - pods-cache-{{ .Branch }}-
            - pods-cache
      - run:
          name: Install Bundler
          command: gem install bundler --user-install
      - run:
          name: Install Ruby tools
          command: bundle install --path vendor/bundle
      - run:
          name: Install SwiftLint
          command: brew install swiftlint
      - run:
          name: Deactivate Cocoapods Verbose Logging
          command: ruby ./scripts/deactivate_verbose_logging.rb
      - run:
          name: Install CocoaPods
          command: bundle exec pod install
      - run:
          name: Run Pod Lint
          command: bundle exec pod lib lint AndesUI.podspec --allow-warnings --sources='https://cdn.cocoapods.org/'
      - run: 
          name: Run Swift lint
          command: swiftlint
  deploy:
    <<: *defaultJob
    steps:
      - checkout
      - add_ssh_keys
      - restore_cache:
          key: gem-cache-{{ checksum "Gemfile.lock" }}-v2
      - restore_cache:
          keys: 
            - pods-cache-{{ .Branch }}-{{ checksum "Podfile" }}
            - pods-cache-{{ .Branch }}-
            - pods-cache          
      - run:
          name: Install Bundler
          command: gem install bundler --user-install
      - run:
          name: Install Ruby tools
          command: bundle install --path vendor/bundle
      - run:
          name: Install CocoaPods
          command: bundle exec pod install
      - run:
          name: Run Deploy
          command: ./scripts/run_deploy.sh

# Define the full workflow.
workflows:
  version: 2
  test-lint:
    jobs:
      - test:
          <<: *defaultWorkflow
      - lint:
          <<: *defaultWorkflow
      - deploy:
          <<: *deployWorkflow