<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650073515710-fjnb10u1j8usd0q0476u3cl088p7kp9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650073515710-fjnb10u1j8usd0q0476u3cl088p7kp9v</string>
	<key>API_KEY</key>
	<string>AIzaSyCFfVVwgG86S6hCHb78yzjwAzRkNSZrnt0</string>
	<key>GCM_SENDER_ID</key>
	<string>650073515710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mercadolibre.andesui</string>
	<key>PROJECT_ID</key>
	<string>andes-design-sistem</string>
	<key>STORAGE_BUCKET</key>
	<string>andes-design-sistem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650073515710:ios:b43b18924035aff584e0ef</string>
</dict>
</plist>